{% extends 'volt_base.html' %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-12 mb-4">
    {% if duplicate_error %}
    <div class="alert alert-danger" role="alert">
      A user exists with the same email/username!
    </div>
    {% endif %}
    <div class="card border-0 shadow components-section">
      <div class="card-header card-header-primary">
        <h3 class="card-title">Add New User</h3>
      </div>
      <div class="card-body">
        <form action="{% url 'insert_user' %}" method="post">
          {%csrf_token%}
          <!-- Fields HERE -->
          <div class="row mb-4">
            <div class="col-lg-4 col-sm-6">
              <div class="text-center">
                <h3>Personal Information</h3>
              </div>

              <div class="mb-3 mt-3">
                <div class="mb-2">
                  <label class="" for="role">Role:</label>
                  <select {% if requesting_user_role == "intermediate" %} disabled {% endif %} id="role"
                    class="w-100 form-control" name="role">
                    <option selected value="normal">normal</option>
                    <option value="intermediate">intermediate</option>
                    <option value="admin">admin</option>
                  </select>
                </div>
              </div>

              <div class="mb-3">
                <label for="name_id">Name: <span style="color: red;">*</span></label>
                <div class="input-group">
                  <input type="text" placeholder="name" class="form-control" id="name_id" name="name" required>
                </div>
              </div>

              <div class="mb-3">
                <label for="surname_id">Surname: <span style="color: red;">*</span></label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="surname" id="surname_id" name="surname" required>
                </div>
              </div>

              <div class="mb-3">
                <label for="email_id">Email: <span style="color: red;">*</span></label>
                <div class="input-group">
                  <input type="email" class="form-control" placeholder="email" id="email_id" name="username" required>
                </div>
              </div>

              <div class="mb-3">
                <label for="pass_id">Password: <span style="color: red;">*</span></label>
                <div class="input-group">
                  <input type="password" class="form-control" id="pass_id" name="password" placeholder="password"
                    aria-label="Password" required>
                  <span class="input-group-text" id="basic-addon3">
                    <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </span>
                </div>
              </div>

              <div class="mb-3">
                <div class="mb-2">
                  <label class="my-1 me-2" for="country">Country: <span style="color: red;">*</span></label>
                  <select id="country_id" class="w-100 form-control" name="country">
                    <option selected>Select Country</option>
                    <option value="Afghanistan, AF">Afghanistan, AF</option>
                    <option value="Albania, AL">Albania, AL</option>
                    <option value="Algeria, DZ">Algeria, DZ</option>
                    <option value="American Samoa, AS">American Samoa, AS</option>
                    <option value="Andorra, AD">Andorra, AD</option>
                    <option value="Angola, AO">Angola, AO</option>
                    <option value="Anguilla, AI">Anguilla, AI</option>
                    <option value="Antarctica, AQ">Antarctica, AQ</option>
                    <option value="Antigua and Barbuda, AG">Antigua and Barbuda, AG</option>
                    <option value="Argentina, AR">Argentina, AR</option>
                    <option value="Armenia, AM">Armenia, AM</option>
                    <option value="Aruba, AW">Aruba, AW</option>
                    <option value="Australia, AU">Australia, AU</option>
                    <option value="Austria, AT">Austria, AT</option>
                    <option value="Azerbaijan, AZ">Azerbaijan, AZ</option>
                    <option value="Bahamas, BS">Bahamas, BS</option>
                    <option value="Bahrain, BH">Bahrain, BH</option>
                    <option value="Bangladesh, BD">Bangladesh, BD</option>
                    <option value="Barbados, BB">Barbados, BB</option>
                    <option value="Belarus, BY">Belarus, BY</option>
                    <option value="Belgium, BE">Belgium, BE</option>
                    <option value="Belize, BZ">Belize, BZ</option>
                    <option value="Benin, BJ">Benin, BJ</option>
                    <option value="Bermuda, BM">Bermuda, BM</option>
                    <option value="Bhutan, BT">Bhutan, BT</option>
                    <option value="Bolivia, BO">Bolivia, BO</option>
                    <option value="Bonaire, Sint Eustatius and Saba, BQ">Bonaire, Sint Eustatius and Saba, BQ</option>
                    <option value="Bosnia and Herzegovina, BA">Bosnia and Herzegovina, BA</option>
                    <option value="Botswana, BW">Botswana, BW</option>
                    <option value="Bouvet Island, BV">Bouvet Island, BV</option>
                    <option value="Brazil, BR">Brazil, BR</option>
                    <option value="British Indian Ocean Territory, IO">British Indian Ocean Territory, IO</option>
                    <option value="Brunei Darussalam, BN">Brunei Darussalam, BN</option>
                    <option value="Bulgaria, BG">Bulgaria, BG</option>
                    <option value="Burkina Faso, BF">Burkina Faso, BF</option>
                    <option value="Burundi, BI">Burundi, BI</option>
                    <option value="Cabo Verde, CV">Cabo Verde, CV</option>
                    <option value="Cambodia, KH">Cambodia, KH</option>
                    <option value="Cameroon, CM">Cameroon, CM</option>
                    <option value="Canada, CA">Canada, CA</option>
                    <option value="Cayman Islands, KY">Cayman Islands, KY</option>
                    <option value="Central African Republic, CF">Central African Republic, CF</option>
                    <option value="Chad, TD">Chad, TD</option>
                    <option value="Chile, CL">Chile, CL</option>
                    <option value="China, CN">China, CN</option>
                    <option value="Christmas Island, CX">Christmas Island, CX</option>
                    <option value="Cocos Islands, CC">Cocos Islands, CC</option>
                    <option value="Colombia, CO">Colombia, CO</option>
                    <option value="Comoros, KM">Comoros, KM</option>
                    <option value="Congo, CD">Congo, CD</option>
                    <option value="Congo, CG">Congo, CG</option>
                    <option value="Cook Islands, CK">Cook Islands, CK</option>
                    <option value="Costa Rica, CR">Costa Rica, CR</option>
                    <option value="Croatia, HR">Croatia, HR</option>
                    <option value="Cuba, CU">Cuba, CU</option>
                    <option value="Curaçao, CW">Curaçao, CW</option>
                    <option value="Cyprus, CY">Cyprus, CY</option>
                    <option value="Czechia, CZ">Czechia, CZ</option>
                    <option value="Côte d'Ivoire, CI">Côte d'Ivoire, CI</option>
                    <option value="Denmark, DK">Denmark, DK</option>
                    <option value="Djibouti, DJ">Djibouti, DJ</option>
                    <option value="Dominica, DM">Dominica, DM</option>
                    <option value="Dominican Republic, DO">Dominican Republic, DO</option>
                    <option value="Ecuador, EC">Ecuador, EC</option>
                    <option value="Egypt, EG">Egypt, EG</option>
                    <option value="El Salvador, SV">El Salvador, SV</option>
                    <option value="Equatorial Guinea, GQ">Equatorial Guinea, GQ</option>
                    <option value="Eritrea, ER">Eritrea, ER</option>
                    <option value="Estonia, EE">Estonia, EE</option>
                    <option value="Eswatini, SZ">Eswatini, SZ</option>
                    <option value="Ethiopia, ET">Ethiopia, ET</option>
                    <option value="Falkland Islands [Malvinas], FK">Falkland Islands [Malvinas], FK</option>
                    <option value="Faroe Islands, FO">Faroe Islands, FO</option>
                    <option value="Fiji, FJ">Fiji, FJ</option>
                    <option value="Finland, FI">Finland, FI</option>
                    <option value="France, FR">France, FR</option>
                    <option value="French Guiana, GF">French Guiana, GF</option>
                    <option value="French Polynesia, PF">French Polynesia, PF</option>
                    <option value="French Southern Territories, TF">French Southern Territories, TF</option>
                    <option value="Gabon, GA">Gabon, GA</option>
                    <option value="Gambia, GM">Gambia, GM</option>
                    <option value="Georgia, GE">Georgia, GE</option>
                    <option value="Germany, DE">Germany, DE</option>
                    <option value="Ghana, GH">Ghana, GH</option>
                    <option value="Gibraltar, GI">Gibraltar, GI</option>
                    <option value="Greece, GR">Greece, GR</option>
                    <option value="Greenland, GL">Greenland, GL</option>
                    <option value="Grenada, GD">Grenada, GD</option>
                    <option value="Guadeloupe, GP">Guadeloupe, GP</option>
                    <option value="Guam, GU">Guam, GU</option>
                    <option value="Guatemala, GT">Guatemala, GT</option>
                    <option value="Guernsey, GG">Guernsey, GG</option>
                    <option value="Guinea, GN">Guinea, GN</option>
                    <option value="Guinea-Bissau, GW">Guinea-Bissau, GW</option>
                    <option value="Guyana, GY">Guyana, GY</option>
                    <option value="Haiti, HT">Haiti, HT</option>
                    <option value="Heard Island and McDonald Islands, HM">Heard Island and McDonald Islands, HM</option>
                    <option value="Holy See, VA">Holy See, VA</option>
                    <option value="Honduras, HN">Honduras, HN</option>
                    <option value="Hong Kong, HK">Hong Kong, HK</option>
                    <option value="Hungary, HU">Hungary, HU</option>
                    <option value="Iceland, IS">Iceland, IS</option>
                    <option value="India, IN">India, IN</option>
                    <option value="Indonesia, ID">Indonesia, ID</option>
                    <option value="Iran, IR">Iran, IR</option>
                    <option value="Iraq, IQ">Iraq, IQ</option>
                    <option value="Ireland, IE">Ireland, IE</option>
                    <option value="Isle of Man, IM">Isle of Man, IM</option>
                    <option value="Israel, IL">Israel, IL</option>
                    <option value="Italy, IT">Italy, IT</option>
                    <option value="Jamaica, JM">Jamaica, JM</option>
                    <option value="Japan, JP">Japan, JP</option>
                    <option value="Jersey, JE">Jersey, JE</option>
                    <option value="Jordan, JO">Jordan, JO</option>
                    <option value="Kazakhstan, KZ">Kazakhstan, KZ</option>
                    <option value="Kenya, KE">Kenya, KE</option>
                    <option value="Kiribati, KI">Kiribati, KI</option>
                    <option value="Korea (the Democratic People's Republic of), KP">Korea (the Democratic People's
                      Republic of), KP</option>
                    <option value="Korea, KR">Korea, KR</option>
                    <option value="Kuwait, KW">Kuwait, KW</option>
                    <option value="Kyrgyzstan, KG">Kyrgyzstan, KG</option>
                    <option value="Lao People's Democratic Republic, LA">Lao People's Democratic Republic, LA</option>
                    <option value="Latvia, LV">Latvia, LV</option>
                    <option value="Lebanon, LB">Lebanon, LB</option>
                    <option value="Lesotho, LS">Lesotho, LS</option>
                    <option value="Liberia, LR">Liberia, LR</option>
                    <option value="Libya, LY">Libya, LY</option>
                    <option value="Liechtenstein, LI">Liechtenstein, LI</option>
                    <option value="Lithuania, LT">Lithuania, LT</option>
                    <option value="Luxembourg, LU">Luxembourg, LU</option>
                    <option value="Macao, MO">Macao, MO</option>
                    <option value="Madagascar, MG">Madagascar, MG</option>
                    <option value="Malawi, MW">Malawi, MW</option>
                    <option value="Malaysia, MY">Malaysia, MY</option>
                    <option value="Maldives, MV">Maldives, MV</option>
                    <option value="Mali, ML">Mali, ML</option>
                    <option value="Malta, MT">Malta, MT</option>
                    <option value="Marshall Islands, MH">Marshall Islands, MH</option>
                    <option value="Martinique, MQ">Martinique, MQ</option>
                    <option value="Mauritania, MR">Mauritania, MR</option>
                    <option value="Mauritius, MU">Mauritius, MU</option>
                    <option value="Mayotte, YT">Mayotte, YT</option>
                    <option value="Mexico, MX">Mexico, MX</option>
                    <option value="Micronesia, FM">Micronesia, FM</option>
                    <option value="Moldova, MD">Moldova, MD</option>
                    <option value="Monaco, MC">Monaco, MC</option>
                    <option value="Mongolia, MN">Mongolia, MN</option>
                    <option value="Montenegro, ME">Montenegro, ME</option>
                    <option value="Montserrat, MS">Montserrat, MS</option>
                    <option value="Morocco, MA">Morocco, MA</option>
                    <option value="Mozambique, MZ">Mozambique, MZ</option>
                    <option value="Myanmar, MM">Myanmar, MM</option>
                    <option value="Namibia, NA">Namibia, NA</option>
                    <option value="Nauru, NR">Nauru, NR</option>
                    <option value="Nepal, NP">Nepal, NP</option>
                    <option value="Netherlands, NL">Netherlands, NL</option>
                    <option value="New Caledonia, NC">New Caledonia, NC</option>
                    <option value="New Zealand, NZ">New Zealand, NZ</option>
                    <option value="Nicaragua, NI">Nicaragua, NI</option>
                    <option value="Niger, NE">Niger, NE</option>
                    <option value="Nigeria, NG">Nigeria, NG</option>
                    <option value="Niue, NU">Niue, NU</option>
                    <option value="Norfolk Island, NF">Norfolk Island, NF</option>
                    <option value="Northern Mariana Islands, MP">Northern Mariana Islands, MP</option>
                    <option value="Norway, NO">Norway, NO</option>
                    <option value="Oman, OM">Oman, OM</option>
                    <option value="Pakistan, PK">Pakistan, PK</option>
                    <option value="Palau, PW">Palau, PW</option>
                    <option value="Palestine, State of, PS">Palestine, State of, PS</option>
                    <option value="Panama, PA">Panama, PA</option>
                    <option value="Papua New Guinea, PG">Papua New Guinea, PG</option>
                    <option value="Paraguay, PY">Paraguay, PY</option>
                    <option value="Peru, PE">Peru, PE</option>
                    <option value="Philippines, PH">Philippines, PH</option>
                    <option value="Pitcairn, PN">Pitcairn, PN</option>
                    <option value="Poland, PL">Poland, PL</option>
                    <option value="Portugal, PT">Portugal, PT</option>
                    <option value="Puerto Rico, PR">Puerto Rico, PR</option>
                    <option value="Qatar, QA">Qatar, QA</option>
                    <option value="Republic of North Macedonia, MK">Republic of North Macedonia, MK</option>
                    <option value="Romania, RO">Romania, RO</option>
                    <option value="Russian Federation, RU">Russian Federation, RU</option>
                    <option value="Rwanda, RW">Rwanda, RW</option>
                    <option value="Réunion, RE">Réunion, RE</option>
                    <option value="Saint Barthélemy, BL">Saint Barthélemy, BL</option>
                    <option value="Saint Helena, Ascension and Tristan da Cunha, SH">Saint Helena, Ascension and Tristan
                      da Cunha, SH</option>
                    <option value="Saint Kitts and Nevis, KN">Saint Kitts and Nevis, KN</option>
                    <option value="Saint Lucia, LC">Saint Lucia, LC</option>
                    <option value="Saint Martin (French part), MF">Saint Martin (French part), MF</option>
                    <option value="Saint Pierre and Miquelon, PM">Saint Pierre and Miquelon, PM</option>
                    <option value="Saint Vincent and the Grenadines, VC">Saint Vincent and the Grenadines, VC</option>
                    <option value="Samoa, WS">Samoa, WS</option>
                    <option value="San Marino, SM">San Marino, SM</option>
                    <option value="Sao Tome and Principe, ST">Sao Tome and Principe, ST</option>
                    <option value="Saudi Arabia, SA">Saudi Arabia, SA</option>
                    <option value="Senegal, SN">Senegal, SN</option>
                    <option value="Serbia, RS">Serbia, RS</option>
                    <option value="Seychelles, SC">Seychelles, SC</option>
                    <option value="Sierra Leone, SL">Sierra Leone, SL</option>
                    <option value="Singapore, SG">Singapore, SG</option>
                    <option value="Sint Maarten (Dutch part), SX">Sint Maarten (Dutch part), SX</option>
                    <option value="Slovakia, SK">Slovakia, SK</option>
                    <option value="Slovenia, SI">Slovenia, SI</option>
                    <option value="Solomon Islands, SB">Solomon Islands, SB</option>
                    <option value="Somalia, SO">Somalia, SO</option>
                    <option value="South Africa, ZA">South Africa, ZA</option>
                    <option value="South Georgia and the South Sandwich Islands, GS">South Georgia and the South
                      Sandwich Islands, GS</option>
                    <option value="South Sudan, SS">South Sudan, SS</option>
                    <option value="Spain, ES">Spain, ES</option>
                    <option value="Sri Lanka, LK">Sri Lanka, LK</option>
                    <option value="Sudan, SD">Sudan, SD</option>
                    <option value="Suriname, SR">Suriname, SR</option>
                    <option value="Svalbard and Jan Mayen, SJ">Svalbard and Jan Mayen, SJ</option>
                    <option value="Sweden, SE">Sweden, SE</option>
                    <option value="Switzerland, CH">Switzerland, CH</option>
                    <option value="Syrian Arab Republic, SY">Syrian Arab Republic, SY</option>
                    <option value="Taiwan, TW">Taiwan, TW</option>
                    <option value="Tajikistan, TJ">Tajikistan, TJ</option>
                    <option value="Tanzania, United Republic of, TZ">Tanzania, United Republic of, TZ</option>
                    <option value="Thailand, TH">Thailand, TH</option>
                    <option value="Timor-Leste, TL">Timor-Leste, TL</option>
                    <option value="Togo, TG">Togo, TG</option>
                    <option value="Tokelau, TK">Tokelau, TK</option>
                    <option value="Tonga, TO">Tonga, TO</option>
                    <option value="Trinidad and Tobago, TT">Trinidad and Tobago, TT</option>
                    <option value="Tunisia, TN">Tunisia, TN</option>
                    <option value="Turkey, TR">Turkey, TR</option>
                    <option value="Turkmenistan, TM">Turkmenistan, TM</option>
                    <option value="Turks and Caicos Islands, TC">Turks and Caicos Islands, TC</option>
                    <option value="Tuvalu, TV">Tuvalu, TV</option>
                    <option value="Uganda, UG">Uganda, UG</option>
                    <option value="Ukraine, UA">Ukraine, UA</option>
                    <option value="Zimbabwe, ZW">Zimbabwe, ZW</option>
                    <option value="Åland Islands, AX">Åland Islands, AX</option>
                  </select>
                </div>
              </div>

              <div class="mb-3">
                <div class="mb-2">
                  <label class="my-1 me-2" for="default_language_id">Default Language: </label>
                  <select class="w-100 form-control" id="default_language_id" name="language">
                    <option selected>English, EN</option>
                  </select>
                </div>
              </div>

              <div class="mb-3">
                <label for="city_id">City: </label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="city" id="city_id" name="city">
                </div>
              </div>

              <div class="mb-3">
                <label for="street_id">Street: </label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="street" id="street_id" name="street">
                </div>
              </div>

              <div class="mb-3">
                <label for="postal_code_id">Postal Code: </label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="postal code" id="postal_code_id"
                    name="postal_code">
                </div>
              </div>

              <div class="mb-3">
                <label for="contact_phone_id">Contact Phone: <span style="color: red;">*</span></label>
                <div class="input-group">
                  <input type="tel" class="form-control" placeholder="contact phone" id="contact_phone_id"
                    name="contact_phone"
                    pattern="[+]{1}[0-9]{1}[0-9]{6,20}"
                    required>
                </div>
              </div>

            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="text-center">
                <h3>Company Information</h3>
              </div>

              <div class="mt-3 mb-3">
                <label for="company_id">Company: </label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="company" id="company_id" name="company">
                </div>
              </div>
              <div class="mb-3">
                <label for="company_name_id">Company Name: </label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="company name" id="company_name_id"
                    name="company_name">
                </div>
              </div>
              <div class="mb-3">
                <label for="fiskal_identity_number_id">Fiskal Identity Number: </label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="fiskal identity number"
                    id="fiskal_identity_number_id" name="fiskal_id_number">
                </div>
              </div>
              <!-- Old pattern  \+(9[976]\d|8[987530]\d|6[987]\d|5[90]\d|42\d|3[875]\d|2[98654321]\d|9[8543210]|8[6421]|6[6543210]|5[87654321]|4[987654310]|3[9643210]|2[70]|7|1)\d{1,14}$-->
              <div class="mb-3">
                <label for="country_phone_id">Country Phone: </label>
                <div class="input-group">
                  <input type="tel" class="form-control" placeholder="country phone" id="country_phone_id"
                    name="country_phone"
                    pattern="[+]{1}[0-9]{1}[0-9]{6,20}">
                </div>
              </div>
              <!-- Old pattern  \+(9[976]\d|8[987530]\d|6[987]\d|5[90]\d|42\d|3[875]\d|2[98654321]\d|9[8543210]|8[6421]|6[6543210]|5[87654321]|4[987654310]|3[9643210]|2[70]|7|1)\d{1,14}$-->
              <div class="mb-3">
                <label for="contact_phone_id">Contact Phone: <span style="color: red;">*</span></label>
                <div class="input-group">
                  <input type="tel" class="form-control" placeholder="contact phone" id="contact_phone_id"
                    name="company_contact_phone"
                    pattern="[+]{1}[0-9]{1}[0-9]{6,20}">
                </div>
              </div>
              <div class="mb-3">
                <label for="pan_number_id">PAN Number: <span style="color: red;">*</span></label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="pan number" id="pan_number_id" name="pan_number"
                    required>
                </div>
              </div>
              <div class="mb-3">
                <label for="gst_number_id">GST Number: </label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="gst number" id="gst_number_id" name="gst_number">
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="text-center">
                <h3>Bank Information</h3>
              </div>
              <div class="mt-3 mb-3">
                <label for="account_name_id">Account Name: </label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="account name" id="account_name_id"
                    name="account_name">
                </div>
              </div>
              <div class="mb-3">
                <label for="account_number_id">Account Number: </label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="account number" id="account_number_id"
                    name="account_number">
                </div>
              </div>
              <div class="mb-3">
                <label for="ifsc_code_id">IFSC Code: </label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="ifsc code" id="ifsc_code_id" name="ifsc_code">
                </div>
              </div>
              <div class="mb-3">
                <label for="sort_code_id">SORT Code: </label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="sort code" id="sort_code_id" name="sort_code">
                </div>
              </div>
              <div class="mb-3">
                <label for="swift_code_id">SWIFT Code: </label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="swift code" id="swift_code_id" name="swift_code">
                </div>
              </div>
              <div class="mb-3">
                <label for="iban_number_id">IBAN Number: </label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="iban number" id="iban_number_id"
                    name="iban_number">
                </div>
              </div>
              <div class="mb-3">
                <label for="country_of_bank_id">Country of Bank: </label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="country of bank" id="country_of_bank_id"
                    name="country_of_bank">
                </div>
              </div>
              <div class="mb-3">
                <label for="bank_name_id">Bank Name: </label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="bank name" id="bank_name_id" name="bank_name">
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-lg-4 col-sm-6">
              <div class="text-center">
                <h3>{{ settings.WEBAPP_NAME }} Payout</h3>
              </div>

              <div class="mb-3 mt-3">
                <label for="name_id">Sales Payout Threshold: </label>
                <div class="input-group">
                  <input type="number" value="10000" class="form-control" id="sales_pay_out_threshhold_id"
                    name="sales_payout_threshold">
                </div>
              </div>

              <div class="mb-3">
                <label for="surname_id">Sales Payout: </label>
                <div class="input-group">
                  <input type="number" class="form-control" onchange="payoutManualValidator()" id="sales_pay_out_id"
                    name="sales_payout" min="0" {% if requesting_user_role == "intermediate" %}
                    max="{{ requesting_user_payout }}" value="{{ requesting_user_payout }}" {% else %} max="100"
                    value="80" {% endif %}>
                </div>
              </div>

            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="text-center">
                <h3>Add Manually</h3>
              </div>

              <div class="mt-3 mb-3">
                <label for="company_id">Channel Ratio: </label>
                <div class="input-group">
                  <input type="number" onchange="payoutValidator()" {% if requesting_user_role == "intermediate" %}
                    max="{{ requesting_user_payout }}" value="{{ requesting_user_payout }}" {% else %} max="100"
                    value="80" {% endif %} class="form-control" id="channel_payout_id" name="ratio" required>
                </div>
              </div>
              <div class="mb-3">
                <label for="company_name_id">Youtube Official Channel Ratio: </label>
                <div class="input-group">
                  <input type="number" {% if requesting_user_role == "intermediate" %} max="{{ requesting_user_payout }}"
                    value="{{ requesting_user_payout }}" {% else %} max="100" value="80" {% endif %}
                    class="form-control" onchange="payoutValidator()" id="official_channel_youtube_payout_id"
                    name="yt_ratio" required>
                </div>
              </div>

            </div>
          </div>

          <!-- Form for team member -->
          <div class="row mb-4">
            <div class="col-lg-4 col-sm-6">
              <div class="text-center">
                <h3>Team Member</h3>
              </div>
              <div class="mb-3 mt-3">
                <label>Email: </label>
                <div class="input-group">
                  <input type="email" placeholder="member email" class="form-control" id="team_member_email"
                    name="team_member_email">
                </div>
              </div>
              <div class="mb-3">
                <label>Password: </label>
                <div class="input-group">
                  <input type="password" class="form-control" id="team_member_password"
                    name="team_member_password" placeholder="member password">
                </div>
              </div>
            </div>
          </div>

          {% if requesting_user_role == "admin" %}
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="apple_music_dolby_atmos_new"
                name="apple_music_dolby_atmos" value="1">
              <label class="form-check-label" for="apple_music_dolby_atmos_new">
                Enable Apple Music Dolby Atmos delivery (applies only if role is <strong>normal</strong>)
              </label>
            </div>
          </div>
          {% endif %}

          <div class="mb-3">
            <div class="col-lg-12" style="text-align: right;">
              <button type="submit" class="btn btn-secondary">
                Create
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
